#container {
  align-items: center;
  border: 1px solid #cdcdcd;
  display: flex;
  height: 700px;
  /*flex-direction: column;*/
  justify-content: flex-start;
  width: 100%;
}

.child {
  height: 200px;
  /*flex: 1;*/
  width: 200px;
}

#child1 {
  background-color: tomato;
  /*flex: 2;*/
}

#child2 {
  background-color: cornflowerblue;
}

#child3 {
  background-color: hotpink;
}
